.dash-header{
    background-color: white;
    padding: 20px;
}
.filtered-tickets{
    display: flex;
    padding: 20px;
}

.groups{
    margin: 10px;
}

.loading-div{    
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    height: auto;
    top: 45%;
    font-size: 30px;
    font-weight: 600;
  }  

@media (max-width: 768px) {
    .filtered-tickets{
        display: grid;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
 .filtered-tickets{
    display: flex;
    flex-wrap: wrap;
 }   
}